<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642221219894-v8q9trjnfjmav3792unefam0tm7gs2ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642221219894-v8q9trjnfjmav3792unefam0tm7gs2ks</string>
	<key>API_KEY</key>
	<string>AIzaSyB7-dOwKLA2mF3ZFlHmNvc5Fp8XnJzdWPo</string>
	<key>GCM_SENDER_ID</key>
	<string>642221219894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>np.aayyyyyushcodes.mynotes</string>
	<key>PROJECT_ID</key>
	<string>notesify-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>notesify-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642221219894:ios:e6cb98cbf4fb27c9fbf897</string>
</dict>
</plist>